<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <title>detail</title>

        <!-- CSS -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
            crossorigin="anonymous"
        />

        <!-- summernote -->
        <link
            href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.css"
            rel="stylesheet"
        />
    </head>
    <body>
        <div id="detail" class="container">
            <form action="#" method="post">
                <div class="row">
                    <div class="col-sm-8">
                        <label for="title">제목:</label>
                        <input
                            type="text"
                            name="title"
                            id="title"
                            v-model="post.title"
                        />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label for="writer">글쓴이: </label>
                        <input
                            type="text"
                            name="writer"
                            id="writer"
                            v-bind:value="post.writer"
                            readonly="readonly"
                        />
                    </div>
                    <div class="col-sm-4">
                        <label for="email">이메일: </label>
                        <input
                            type="text"
                            name="email"
                            id="email"
                            v-bind:value="post.email"
                            readonly="readonly"
                        />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <label for="password">비밀번호:</label>
                        <input
                            type="password"
                            name="password"
                            id="password"
                            v-model="post.password"
                            maxlength="6"
                        />
                        <input
                            type="checkbox"
                            name="secretYn"
                            id="secretYn"
                            v-model="post.secretYn"
                        />
                        <label for="secretYn">비밀</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <textarea id="summernote" name="summernote"></textarea>
                    </div>
                </div>

                <button type="button" @click="showContent">send</button>
            </form>

            <br /><br /><br /><br /><br />

            <div v-html="post.content"></div>
        </div>

        <!-- bootstrap, jQuery, popper -->
        <script
            src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"
        ></script>

        <!-- summernote -->
        <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.js"></script>
        <script>
            $(document).ready(function () {
                $("#summernote").summernote();
            });
        </script>

        <!-- Vue.js -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script>
            var detail = new Vue({
                el: "#detail",
                data: {
                    post: {
                        title: "",
                        writer: "",
                        email: "",
                        password: "",
                        content: "",
                        secretYn: false,
                        linkUrl1: "",
                        linkUrl2: "",
                        attachment: "",
                    },
                },
                methods: {
                    showContent: function () {
                        this.post.content = $("#summernote").summernote("code");

                        console.log(this.post);
                    },
                },
                /* 초기 세팅 */
                created() {
                    this.post.writer = "writer";
                    this.post.email = "writer@sample.com";
                },
            });
        </script>
    </body>
</html>
