<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>수정@@@</title>
    </head>
    <body>
        <div id="app">
            <p v-text="message"></p>
            <input type="text" v-model="pick" />
            <span v-text="pick"></span>
            <br />
            <input type="text" :value="a" @input="a=$event.target.value" />
            <span v-text="a"></span>
            <br />
            <select v-model="selected">
                <!-- inline object literal -->
                <option v-bind:value="{ number: 123 }">123</option>
                <option v-bind:value="{ number: 456 }">456</option>
                <option>789</option>
            </select>
            <br />
            <input
                type="text"
                v-bind:disabled="ture === ture"
                value="disabled??"
            />
            <br />
            <input type="checkbox" id="checkbox" v-model="checked" />
            <label for="checkbox">{{ checked }}</label>

            <br /><br />

            <ol>
                <!-- todo-item 컴포넌트의 인스턴스 만들기 -->
                <todo-item></todo-item>
            </ol>

            <div
                class="static"
                v-bind:class="{active: ture, 'text-danger': hasError, 'hidden' : isHidden}"
            >
                hi
            </div>

            <div class="static" v-bind:class="classObject">hihi</div>
            <div class="static" v-bind:class="classObject2">hihihi</div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script>
            // todo-item 이름을 가진 컴포넌트를 정의합니다
            Vue.component("todo-item", {
                template: "<div>됨?</div>",
            });

            var vue = new Vue({
                el: "#app",
                data: {
                    message: "hi",
                    pick: "v-model",
                    a: "v-bind:value",
                    selected: "",
                    ture: true,
                    checked: false,
                    hasError: false,
                    isHidden: true,
                    error: null,

                    classObject: {
                        active: true,
                        hidden: false,
                        static: true,
                    },
                },
                methods: {},
                // beforeCreate() {}, // 제일 먼저 실행되기 때문에 다른 옵션에 접근불가
                // created: {}, // data에 직접 접근 가능. 초기에 외부에서 받아온 값들로 data 세팅 및 이벤트 리스너 선언
                // beforeMount: {},
                // mounted: {}, // 가장 많이 사용, 모든 요소(el, data, computed, methods, watch 등)에 접근 가능
                // beforeUpdate: {},
                // updated: {}, // data를 직접 바꾸면 안됨.
                // beforeDestroy: {},
                // destroyed: {},
                computed: {
                    classObject2: function () {
                        return {
                            active: this.classObject.active && !this.error,
                            "text-danger":
                                this.error && this.error.type === "fatal",
                        };
                    },
                },
            });
        </script>
    </body>
</html>
